html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
}

.wrapper-title {
    background-color: #242424;
}

.title-bar-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}

.cmd {
	display: flex;
	height: 100%;
	width: 100%;
	border: 1px solid #000000;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 8px 18px #4b1d3f;
	flex-flow: row wrap;
	align-content: flex-start;
}

/*
 * 1. Set position
 * 2. Set dimension
 * 3. Style
 */
.title-bar {
    display: flex;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    line-height: 40px;
    font-weight: bold;
    font-size: 2em;
    background-color: #242424;
    text-align: center;
	align-items: center;
	justify-content: center;
}

.tool-bar {
	display: flex;
    width: 100%;
    height: 30px;
    background-color: #242424;
	font-weight: bold;
}

.tool-bar > ul {
    list-style-type: none;
    line-height: 10px;
    margin: 0px;
    padding: 0px;
}

.tool-bar > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tool-bar > ul > li > a {
    padding: 0px 6px;
    text-decoration: none;
    color: #FFFFFF;
}

.tool-bar > ul > li > a:hover {
    text-decoration: underline;
}

.tabs-bar {
    width: 100%;
    height: 30px;
    background-color: #242424;
    font-weight: bold;
}

.tabs-bar ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    gap: 1rem;
}

.li-tab {
    height: 1.75rem;
    padding: 0.25rem;
    background-color: #343a40;
    border: 1px solid #343a40;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.15s ease-in-out;
}
/*
.li-tab::before {
    content: "";
    position: absolute;

    bottom: 0px;
    margin-left: -21px;
    height: 0.25rem;
    width: 16px;
    border: 1px solid #dee2e6;
    border-top: 0;
    border-bottom-left-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}
*/
.li-tab:hover {
    background-color: #495057;
}

.li-tab a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #FFFFFF;
}

.li-tab a:hover {
    text-decoration: none;
}

.li-tab button {
    height: 0.25rem;
    width: 0.25rem;
}

#add-tab-btn-li {
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
}

#add-tab-btn-li svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    transition: all 0.15s ease-in-out;
}

#add-tab-btn-li svg:hover {
    fill: #adb5bd;
    cursor: pointer;
}

.textarea {
    position: relative;
    padding: 12px;

    resize: none;
    width: 100%;
    height: calc(100% - 70px);
    background-color: #4b1d3f;
    border: none;
    color: #FFFFFF;
    margin: 0px;
    font-size: 1.1rem;
}

.hiddenElement {
    display: none;
}

a.nav-link.dropdown-toggle:after {
    content: none;
}

.notification-menu {
    display: flex;
    justify-content: flex-end;
}

/* MODAL CSS */
.modal-header {
    background-color: #242424;
    color: #FFFFFF;
}

.modal-btn-connect {
    background-color: #4b1d3f;
    border: none;
}

.modal-btn-connect:hover {
    background-color: #4b1d3f;
    opacity: 0.9;
}

.tabbable .nav-tabs .nav-link {
    white-space: nowrap;
}
.navbar-brand, .navbar-nav > li > a {
    line-height: 100px;
    height: 75px;
    padding-top: 0px;
}